.list {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

    h2{
        color: rgb(74, 83, 124);
    }

    .players-list{
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        justify-content: center;

        .player-btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .btn_list{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                .record_btn {
                    font-size: 16px;
                    border: none;
                    background-color: rgb(74, 83, 124);
                    padding: 10px;
                    color: white;
                    border-radius: 8px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }
    
        .player {
            min-width: 70vh;
            border: 2px solid rgb(74, 83, 124);
        }
    }
}

@media only screen and (max-width: 768px) {
    .list {
        .players-list{
            .player {
                min-width: 50vh;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .list {
        .players-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .player {
                min-width: 40vh;
            }
        }
    }
}

